@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Koh Santepheap&display=swap");
@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

/* fonts */

.KohSantepheap {
  font-family: Koh Santepheap, serif;
  font-size: 60px;
}

.Poppins {
  font-family: poppins, serif;
  font-size: 25px;
}

.Khula {
  font-size: 40px;
  font-family: Khula, serif;
}

body {
  background-color: #fff1eb;
}

* {
  margin: 0;
  padding: 0;
}

.main-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff1eb;
}

.main-nav-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1);
  height: 4rem;
  align-items: center;
  font-family: Lato, serif;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-1 {
  grid-column: 1/3;
}

.nav-container {
  grid-column: 3/11;
}

.nav-12 {
  grid-column: 11/13;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 0.5em;
  font-size: 1em;
  align-items: center;
}

.logo img {
  height: 1.5em;
}

.menu {
  display: flex;
  gap: 4em;
  font-size: 1em;
  background-color: #fff1eb;
}

.menu a:hover {
  color: rgb(159, 115, 115);
  transition: 0.3s ease;
}

/* burger */

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  user-select: none;
  font-size: 2rem;
  padding-inline: 10px;
  padding-bottom: 3px;
  border-radius: 10%;
}

.hamburger:hover {
  background-color: rgb(157, 148, 148);
}

@media (max-width: 900px) {
  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    padding-bottom: 2rem;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  }

  .menu li:hover {
    color: rgb(159, 115, 115);
    transition: 0.3s ease;
  }
  .menu li {
    font-size: 1.2rem;
    margin: 1rem;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: grid;
    gap: 1rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

/* SECTION */

.section-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 8rem;
}

.section-grid-1 {
  grid-column: 1/3;
}

.section-grid-2 {
  grid-column: 3/11;
}

.section-grid-3 {
  grid-column: 11/13;
}

/*section-home*/

.home-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home-cont-1 {
  display: block;
  grid-column: 50%;
  justify-content: center;
  align-items: center;
}

.home-cont-2 {
  display: block;
  grid-column: 50%;
  justify-self: center;
  align-items: center;
}

.home-cont-2 img {
  height: 360px;
}

.home-sushi-title1 {
  height: 70px;
}

.SushiFood {
  font-size: 50px;
}

.KohSantepheap {
  font-size: 60px;
}

.sushi-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.home-cont-1-bio {
  font-size: 25px;
  font-weight: 100;
  color: #2a2521;
  padding-bottom: 3rem;
}

.home-cont-2 img {
  height: 360px;
}

.padingtop2 {
  padding-top: 2rem;
}

.button {
  border-radius: 2rem;
  background-color: #ff8f1e;
  color: white;
  padding: 0;
  padding: 0.5rem 1.5rem;
  font-family: Khula, serif;
  font-weight: 100;
}

.button:hover {
  background-color: #faa24a;
  cursor: pointer;
}

.button:active {
  background-color: #ffbf00;
}

/* section-about-us */

.about-us-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.about-us-cont-1 {
  display: block;
  grid-column: 50%;
  justify-content: center;
  align-items: center;
}

.about-us-cont-2 {
  display: block;
  grid-column: 50%;
  justify-content: center;
  align-items: center;
}

.about-us-title {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* popular-sets-container */

.popular-sets-container {
  padding-top: 12rem;
}

.popular-sets-cont-text p {
  text-align: center;
  padding-bottom: 2rem;
}

.popular-sets-cont-text-2 {
  margin-bottom: 12rem;
}
.popular-sets-cont-text-2 {
  font-size: 76px;
}

.popular-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 2rem;
}

.popular-card {
  position: relative;
  background-color: var(--container-color);
  padding: 7rem 2rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

.popular-image {
  position: absolute;
  background-color: var(--container-color);
  inset: 0;
  top: -7rem;
  margin-left: auto;
  margin-right: auto;
}

.popular-image-1 {
  height: 198px;
}
.popular-image-2 {
  height: 205px;
}
.popular-image-3 {
  height: 195px;
}

.popular-buttom {
  width: 35px;
  border: none;
  background-color: var(--container-color);
}

.popular-buttom:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popular-description {
  padding: 2rem 0 2rem 0;
}

.popular-cards-container span {
  align-items: center;
}
.popular-price {
  font-size: 45px;
}
.button-text-popular {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* recenly */

.recently-container {
  padding-top: 14rem;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}

.recently-text-container {
  margin-bottom: 2rem;
}

.recently-header {
  display: flex;
}

.recently-image-container img {
  height: 360px;
}

.recently-image-container {
  justify-self: center;
}

/* newsletter-container */

.newsletter-container {
  margin-top: 13rem;
  background-color: #2f221c;
  border-radius: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 4rem 1rem 3rem;
  column-gap: 6px;
}

.newsletter-image-container {
  display: grid;
  justify-self: center;
}

.newsletter-text-container p {
  padding-bottom: 1rem;
}

.newsletter-text-container {
  display: grid;
  align-self: center;
}

.newsletter-form {
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  padding: 6px 6px 6px 16px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 2rem;
  gap: 1rem;
}

.newsletter-input {
  width: 60%;
}

.newsletter-input {
  border-radius: 2.5rem;
  border: none;
  outline: none;
  background-color: #d9d9d9;
}

input[type="email"] {
  font-size: 19px;
}
input[type="email"]::-webkit-input-placeholder {
  color: black;
}

.newsletter-buttom {
  color: white;
  font-family: Khula, serif;
  font-size: 23px;
  background-color: #ff8f1e;
  border-radius: 2.5rem;
  border-style: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.newsletter-buttom:hover {
  opacity: 0.8;
}

.newsletter-container {
  position: relative;
}
.spinach-for-newsletter {
  position: absolute;
  inset: 0;
  top: 90%;
  left: 80%;
  height: 150px;
}

/* mobile/tablets version */

@media (max-width: 1500px) {
  .home-container {
    grid-template-columns: 100%;
  }
  .home-cont-1 {
    order: 1;
    text-align: center;
    padding-top: 1rem;
  }
  .home-cont-1 div {
    justify-content: center;
  }

  .about-us-container {
    grid-template-columns: 100%;
  }
  .about-us-cont-1 {
    display: grid;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  .about-us-cont-2 {
    text-align: center;
  }
  .about-us-title-img {
    display: none;
  }

  .popular-cards-container {
    grid-template-columns: 100%;
    gap: 10rem;
  }

  .recently-container {
    padding-top: 12rem;
    grid-template-columns: 100%;
  }
  .recently-text-container {
    order: 1;
    text-align: center;
  }
  .recently-header img {
    display: none;
  }

  .newsletter-image-container {
    padding-bottom: 2rem;
  }
  .newsletter-container {
    grid-template-columns: 100%;
  }
  .newsletter-text-container {
    text-align: center;
  }
  .newsletter-form {
    padding: 6px 6px 6px 16px;
    width: 70%;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .newsletter-input {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .about-us-container {
    display: grid;
  }

  .newsletter-container {
    grid-template-rows: 35%;
  }

  .newsletter-image-container {
    padding-bottom: 0;
  }
  .newsletter-image-container > img {
    height: 68%;
    padding-bottom: 0;
  }
  .newsletter-form {
    padding: 6px 6px 6px 16px;
    width: 80%;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .newsletter-buttom {
    width: 70%;
  }
}

/* footer */

.main-footer-container {
  margin-top: 15rem;
}

.main-footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1);
  font-family: Poppins, serif;
}

.main-footer-container a {
  text-decoration: none;
  color: black;
}

.footer-media-centre {
  display: none;
}

.footer-1 {
  grid-column: 1/3;
}

.logo-footer {
  display: flex;
  gap: 0.5em;
  font-size: 1em;
}

.logo-footer img {
  height: 1.5em;
}

.footer-2 {
  grid-column: 3/11;
}

.footer-3 {
  grid-column: 11/13;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5);
}

.footer-column-1 {
  grid-column: 1/5;
  grid-row: 1/6;
}

.footer-column-2 {
  grid-column: 5/6;
}

.footer-column-3 {
  grid-column: 6/8;
  display: grid;
  grid-row: 1/6;
}

.footer-column-4 {
  grid-column: 8/10;
  display: grid;
  grid-row: 1/6;
}

.footer-column-5 {
  display: grid;
  grid-column: 10/13;
  grid-row: 1/3;
}

.footer-image-leaf img {
  height: 4rem;
}

.footer-image-leaf {
  text-align: center;
}

.bold-p {
  font-weight: bold;
}

.footer-column-1 > div {
  padding-top: 2rem;
}
.footer-column-1 .footer-bio {
  padding-top: 2rem;
}

.footer-column-3,
.footer-column-4,
a {
  padding-top: 2rem;
}

.footer-column-5 p,
a {
  padding-top: 2rem;
}

@media (max-width: 900px) {
  .footer-column-2 {
    display: none;
  }
  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    column-gap: 1rem;
  }

  .footer-column-1 {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .footer-bio {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .footer-column-1 .footer-bio {
    padding-top: 1rem;
  }
  .footer-p {
    grid-column: 1/6;
  }
  .footer-image-leaf {
    grid-column: 6/7;
  }

  .footer-column-3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer-column-4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer-column-5 {
    grid-column: 3/4;
    grid-row: 2/3;
    grid-auto-rows: max-content;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

@media (max-width: 1200px) {
  .footer-bottom {
    flex-direction: column;
  }
  .pay-information {
    padding-top: 2rem;
  }
}

/* mobile adaptive */

@media (max-width: 500px) {
  section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main-nav-container {
    position: absolute;
  }
  .nav-1 {
    display: none;
  }
  .nav-container {
    grid-column: 1/13;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .nav-12 {
    display: none;
  }

  .section-grid-1 {
    display: none;
  }
  .section-grid-2 {
    grid-column: 1/13;
    margin-left: auto;
    margin-right: auto;
  }
  .section-grid-3 {
    display: none;
  }
  .home-cont-2 img {
    height: 210px;
  }
  .home-sushi-title1 {
    height: 50px;
  }
  .about-us-container {
    padding-top: 6rem;
  }
  .SushiFood {
    font-size: 35px;
  }
  .home-cont-1-bio {
    font-size: 16px;
  }
  .KohSantepheap {
    font-size: 40px;
  }
  .Khula {
    font-size: 30px;
    font-family: Khula, serif;
  }

  .Poppins {
    font-size: 16px;
  }
  .popular-sets-container {
    padding-top: 4rem;
  }
  .popular-sets-cont-text-2 {
    font-size: 45px;
  }
  .popular-sets-cont-text p {
    padding-bottom: 0;
    padding-top: 2rem;
  }
  .popular-price {
    font-size: 30px;
  }
  .about-us-cont-1 img {
    height: 210px;
  }
  .recently-container {
    padding-top: 7rem;
  }
  .recently-image-container img {
    height: 210px;
  }
  .newsletter-container {
    margin-top: 7rem;
  }
  .newsletter-image-container img {
    height: 210px;
  }
  .newsletter-image-container {
    margin-bottom: 4rem;
  }
  input[type="email"] {
    font-size: 13px;
  }

  .newsletter-buttom {
    font-size: 16px;
  }
  .spinach-for-newsletter {
    height: 100px;
    left: 60%;
  }
  /* footer */
  .footer-1 {
    display: none;
  }
  .footer-2 {
    grid-column: 1/13;
  }
  .footer-3 {
    display: none;
  }
  footer {
    margin-top: -7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
  .footer-bottom {
    display: none;
  }
}

@media (max-width: 375px) {
  .home-cont-2 img {
    height: 180px;
  }
  .about-us-cont-1 img {
    height: 180px;
  }
  .recently-image-container img {
    height: 180px;
  }

  .newsletter-image-container img {
    height: 180px;
  }

  .popular-image-1 {
    height: 158px;
  }
  .popular-image-2 {
    height: 165px;
  }
  .popular-image-3 {
    height: 155px;
  }
}
